@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1rem;
}
.container {
    max-width: 65em;
    margin: 10vh auto;
}
.title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #f6f6f6;
    text-align: center;
    margin-bottom: 1.2rem;
    background: #232323;
    padding-block: .5em;
}
.result_page .title {
    margin-bottom: 0;
}
form {
    max-width: 100%;
    display: block;
    padding: 1em;
    background: #f7f7f7;
    display: flex;
    justify-content: space-between;
}
.form-set {
    width: 40%;
}
label {
    width: 100%;
    font-weight: 700;
    font-size: 1.2rem;
    color: #4345b9;
    display: block;
}
select {
    width: 100%;
    padding: 1em;
    margin-top: 1em;
}
input {
    width: 70%;
    margin-top: 1em;
    padding: 1em 0.5rem;
}
button {
    cursor: pointer;
    width: 23%;
    padding: 1em 0.5rem;
    background: #07af18;
    border: none;
    border-radius: .5rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 1px;
    transition: all 3ms ease-in-out;
}
button:hover {
    background: #09c01a;
}
/* .form-set button {
    display: inline-flex;
} */